body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#stage canvas {
    margin: auto;
}

@font-face {
    font-family: retroComputerDemo;
    src: url(../assets/fonts/retro_computer_demo.ttf);
}
